@import url(https://fonts.googleapis.com/css?family=Assistant);

$white: #fff;
$blue: #2521e8;
$lightgray:#707070;

$font-primary: 'Assistant';

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-primary;
  font-size: 16px;
}

.spinner {
  h3 {
    color: $blue;
  }
  text-align: center;
}

.container {
  margin: auto;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.jumbotron {
  position: relative;
  padding-top: 10px;
  background-color: $white;
}

.jumbo {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;

}

.foot {
  text-align: center;
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}

.logout {
  position: relative;
  left: 300px;
  bottom: 75px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group-item {
  max-width: 50%;

} 

.beermodal .modal-content {
  text-align: center;
  width: 60%;

  background-color: $white;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 4px 10px 4px;

  .modalbody {
    padding:0;
  }
}

.modal-content {
  .modal-header {
    border-bottom: none;
    padding:0;
    .close {
      color: $blue;
      @include fontSize(60px);
      margin-top:-20px;
      opacity:0.8;
    }
  }
}

.beerlabel {
  position: relative;
  left: 10px;
}

.beertitles {
  padding-right: 48px;
  padding-left: 48px;
}

